@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fuente-inter:"Krona One";
}


*{
    padding: 0;
    margin: 0;
    font-family:var(--fuente-inter);
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body{
    background-color:#DEF9C4;   
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}